@charset "utf-8";
.header{background-color: rgba(24,190,176,1); opacity: 0.5;}
.header:hover{opacity: 0.8; transition: all 0.5s;}
.header.on{position: fixed; left: 0; top: 0; z-index: 9999; width: 100%; opacity: 0.8; transition: all 0.5s;}
.gnb{width: 600px; margin: 0 auto;}
.gnb a{
	display: block; 
	position: relative;
	float: left; 
	width: 33.333%; 
	line-height: 80px; 
	text-align: center; 
	box-sizing: border-box;
	color: #fff;
	
}
.arrow{
	display: block;
	position: absolute;
	left: 0;
	top: 50px;
	z-index: 5;
	width: 0;
	height: 11px;
}
.gnb a:hover .arrow{background-image: url(../images/arrow02.png); animation: arrow 5s linear 0.3s 3;}
@keyframes arrow{
	0%{width: 1px;}
	30%{width: 100%;}
	100%{width: 100%;}
}

.gnb a.middle{border-left: 1px solid #fff; border-right: 1px solid #fff;}
.header.on .gnb a{line-height: 50px;}
.header .gnb a.MyName:after {
	content: 'KIM . SO . YOUNG';
  }
  
.header .gnb a.MyName:hover {
font-weight: bold;
color: #1b10ad;
opacity: 1;
-webkit-transition: all 0.5s;
transition: all 0.5s;
cursor: default;
}
.header .gnb a.MyName:hover:after {
content: '010 . 3287 . 3001';
}
.header .gnb a:hover .arrow {
background: url(../images/arrow02.png) no-repeat;
-webkit-animation: arrow 5s linear 0.3s 3;
		animation: arrow 5s linear 0.3s 3;
}


footer{margin-top: 50px; padding: 90px 0;  background-color: #666; color: #fff; text-align: center; line-height: 30px;}
footer a{color: #fff;}
footer .top {
	display: block;
	position: fixed;
	bottom: 100px;
	right: 50px;
	z-index: 100;
	width: 50px;
	height: 50px;
	font-size: 1.5em;
	line-height: 50px;
	color: #fff;
	border-radius: 100px;
	background-color: rgba(0, 0, 0, 0.3);
  }
  
  footer.on .top {
	bottom: 50px;
	opacity: 1;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
  }
