@charset "utf-8";
/* Noto Sans */
@font-face {
	font-family: 'NotoSansCJK';
	font-style: normal;
	font-weight: 400;
	src: url('../font/notokr-light.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-light.woff2') format('woff2'),
		url('../font/notokr-light.woff') format('woff'),
		url('../font/notokr-light.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoSansCJK';
	font-style: normal;
	font-weight: 500;
	src: url('../font/notokr-regular.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-regular.woff2') format('woff2'),
		url('../font/notokr-regular.woff') format('woff'),
		url('../font/notokr-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoSansCJK';
	font-style: normal;
	font-weight: 600;
	src: url('../font/notokr-medium.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-medium.woff2') format('woff2'),
		url('../font/notokr-medium.woff') format('woff'),
		url('../font/notokr-medium.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoSansCJK';
	font-style: normal;
	font-weight: 700;
	src: url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-bold.woff2') format('woff2'),
		url('../font/notokr-bold.woff') format('woff'),
		url('../font/notokr-bold.ttf') format('truetype');
}

*{margin:0; padding:0;}
ul, ol, li{list-style:none;}
a{text-decoration:none; color:#444;}
.blind, caption{font-size:0; position:absolute; top:-999999px; visibility:hidden;}
::selection{background-color:rgba(24,190,176,0.7);}
.clearfix{clear:both; overflow:hidden;}
body {position:relative; height:100vh; margin:0; font-family:'NotoSansCJK', sans-serif; font-size:14px;}
body * {line-height:calc( 1em + 8px);}
.wrap {
	mix-blend-mode:screen; cursor:none;
	&.active {cursor:auto;}
}

.inner {width:1280px; margin:0 auto; padding:0 35px 0 20px; box-sizing:border-box;}
footer{
	position:fixed; left:0; bottom:0; z-index:0; width:100%; height:350px; padding-top:200px; background-color:rgba(0, 31, 58, 0.8); color:#fff; text-align:center; font-size:1.3em;
	& a{color:#fff;}
	& p {
		& strong {
			display:inline-block; margin-bottom:10px; font-weight:500;
		}
	}
}
.mobFooter {display:none;}

.cursor {
	position:fixed; top:0; left:0; z-index:999; display:block; width:50px; height:50px; margin:-10px 0 0 -10px; border-radius:20px; 
	background: url("/inc/images/wheel_white.png") no-repeat center; background-size:100% auto; 
	will-change:transform;user-select:none;pointer-events:none;
}

// $bg-color : linear-gradient(to left, #aee, #eaa, #eae);
$font-color: #333333;
$bg-color : #f1ece3;
$list-dim : rgba(255,255,255,0.7);
$bg-icoSkill: rgba(108, 194, 189, 0.8);
//rgba(72,127,183,0.7)

@mixin listType($opacity:0.9) {
	border:1px solid rgba(72,127,183,$opacity);
}

/* 본문 */
.container {padding-top:100px; margin-bottom:650px; background-image:none; background-color:$bg-color;}
.mainTit {position:relative; z-index:1; width:1280px; margin:0 auto; padding:0 35px 0 20px; font-size:3em; color:rgba(0, 31, 58, 0.8); box-sizing:border-box;}

.mainSvg {
	position:fixed; top:0; left:0; z-index:100; font-size:6rem; font-weight:bold; text-transform:uppercase; transition:1s font-size; text-decoration: underline;
	& rect {
		fill: white;
		mask:url(#mask);
	}
	& .rectBox {
		fill: rgba(0, 31, 58, 0.8);
	}
}
.bg {position:fixed; top:0; left:0; z-index: 1; background-image:none; background-color:$bg-color; width:100%; height:100%;}

#list {position:relative; display:flex; flex-wrap:wrap; flex-direction:row; align-items:center; justify-content:space-between; box-sizing:border-box;}
.listItem {
	position:relative; width:350px; box-sizing:border-box; margin-top:30px;
	&:nth-child(n+4) {margin-top:100px;}
	&.on .itemInfo {
		@include listType(0.9);
	}
}
.itemTit {
	position:relative; z-index:10; 
	& .title {
		overflow: hidden; display:block; width:100%; height:230px; text-align:center; font-weight:600; border-radius:10px; box-sizing:border-box; background-color:#ffffff;
		@include listType(0.3);
		& img {
			display:block; width:100%; height:auto;
		}
	}
	& .info {box-sizing:border-box;}
	& .subTitle {display:block; margin-top:5px; font-size:1.1rem; color:$font-color; text-decoration:none; /*text-shadow: 2px 2px 4px rgba(0,0,0,.8);*/}
	& .icoSkill {
		display:block; margin-top:8px;
		& span {display:inline-block; padding:0 5px 2px; border-radius:3px; font-size:0.8em; font-weight:600; background-color:$bg-icoSkill; color:#ffffff;}
		// & .icoHtml {background-color:#37cd90;}
		// & .icoCSS3 {background-color:#e84b80;}
		// & .icoSass {background-color:#487fb7;}
		// & .icoJS {background-color:#fbeb34;}
		// & .icoEtc {background-color:#8b7db7;}
		    
		    
        
	}
}
.itemInfo {
	position:absolute; z-index:1; top:15px; right:-15px; left:15px; padding:210px 10px 10px; background-color:$list-dim; color:$font-color; border-radius:10px;
	& .btmArea {
		height:0; opacity:0; margin-top:33px; padding:0 10px;
		& .myWork span, & .program span {
			&:after {content:', ';}
			&:last-child:after {display:none;}
		}
		& .program {
			& span {font-size:01em;}
		}
	}
}

/*  */
.layerpopup {
	display:none; position:fixed; top:20%; left:50%; z-index:102; padding:30px 100px; background-color:#ffffff; transform:translatex(-50%); text-align:center;
	& .btn {margin-top:20px; padding:3px 10px 5px; background-image:none; background-color:transparent; outline:none; border-radius: 5px; box-shadow:0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.11); border:1px solid rgba(0,0,0,0.2);}
	& .btn:active {transform: scale(0.98);}
}
.dim {display:none; position:fixed; top:0; left:0; z-index:101; width:100%; height:100%; background-color:rgba(0,0,0,0.7);}

@media screen and (max-width:1200px) {
	.inner,
	.mainTit {width:860px;}
	.mainSvg {
		font-size:4rem;
	}
	.listItem {
		&:nth-child(n + 3) {margin-top:100px;}
	}
}

@media screen and (max-width:840px) {
	footer {display:none;}
	.inner,
	.mainTit {width:480px;}
	.mainTit {text-align:center;}
	.listItem {
		margin:100px auto 0;
		&:nth-child(1) {margin-top:30px;}
	}
	.container {margin-bottom:100px;}
	.mobFooter {display:block; position:relative; z-index:1; padding:40px 20px; font-size:1.3em; color:#555; background-color:rgba(255,255,255,0.7);}
}

//min
@media screen and (max-width:480px) {
	.inner,
	.mainTit {width:350px;}

}